.container {
  width: 1200px;
  margin: 0 auto; }

.loge {
  float: left; }
  .loge .loge1 {
    display: block; }

.public-left {
  float: left; }

.public-right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.menu-link {
  line-height: 22px;
  margin-top: 7px;
  margin-bottom: 21px; }
  .menu-link a, .menu-link span, .menu-link div {
    float: right; }
  .menu-link a {
    color: #a0a0a0; }
  .menu-link span {
    width: 1px;
    height: 12px;
    background-color: #cfcfcf;
    margin: 6px 11px 0; }

.lang {
  position: relative;
  width: 53px;
  height: 22px;
  background-color: #ececec;
  color: #a0a0a0;
  text-align: center; }
  .lang i {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(../images/icon-arrow.png);
    background-repeat: no-repeat; }
  .lang ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 95px;
    background-color: #ececec;
    z-index: 9999; }
  .lang:hover ul {
    display: block; }
  .lang a {
    display: block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center; }
    .lang a:hover {
      color: #01aab6;
      background-color: #e0e0e0; }

nav > ul > li {
  float: left; }
  nav > ul > li > a {
    color: #000000;
    font-weight: bold; }
    nav > ul > li > a::after {
      content: "";
      display: none;
      position: absolute;
      z-index: 2;
      bottom: -7px;
      left: 50px;
      border-top: 7px solid #f5f5f5;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent; }
  nav > ul > li:hover a, nav > ul > li.current a {
    background-color: #f5f5f5; }
  nav > ul > li:hover a:after, nav > ul > li.current a:after {
    display: block; }
  nav > ul > li > ul {
    padding-top: 17px; }
nav ul ul {
  display: none;
  position: absolute; }
  nav ul ul a {
    height: 41px;
    color: #000000;
    line-height: 41px;
    background-color: #f5f5f5; }
    nav ul ul a:hover {
      background-color: #eaeaea; }
  nav ul ul ul {
    left: 100%;
    top: 0; }
nav li {
  position: relative; }
  nav li:hover > ul {
    display: block; }
  nav li a {
    display: block;
    width: 114px;
    height: 53px;
    text-align: center;
    line-height: 53px; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

body > footer {
  padding-top: 74px;
  background-color: #f8f8f8; }

#copyright {
  margin-top: 59px;
  border-top: 1px solid #dbdbdb;
  line-height: 48px;
  color: #a0a0a0; }

.fotter-congtact-info h5 {
  margin-bottom: 24px;
  font-size: 24px;
  color: #717171; }
.fotter-congtact-info p {
  color: #a0a0a0;
  line-height: 23px; }
.fotter-congtact-info a {
  color: #a0a0a0; }

.share {
  margin-top: 38px; }
  .share a {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 24px;
    border-radius: 100px;
    background-color: #a0a0a0; }
    .share a:hover p {
      display: block; }
  .share p {
    display: none;
    position: absolute;
    bottom: 130%;
    left: 50%;
    margin-left: -44px;
    width: 80px;
    height: 80px;
    padding: 4px;
    border-radius: 6px;
    background-color: #fff;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.16)); }
    .share p::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 40px;
      border-top: 4px solid #fff;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent; }
  .share img {
    width: 100%;
    height: 100%; }

.sing-share {
  background: url(../images/icon-share.png) no-repeat 0 0 #a0a0a0; }
  .sing-share:hover {
    background-color: #dc261b; }

.weixing-share {
  background: url(../images/icon-share.png) no-repeat -30px 0 #a0a0a0; }
  .weixing-share:hover {
    background-color: #3cb035; }

.footer-meun dl {
  float: left;
  width: 75px;
  margin-left: 38px; }
  .footer-meun dl img {
    width: 100%;
    height: 100%;
    margin-bottom: 6px;
    border: 2px solid #fff; }
.footer-meun dt {
  padding-bottom: 17px;
  margin-bottom: 14px;
  margin-top: 6px;
  border-bottom: 1px solid #c5c5c5; }
.footer-meun dd {
  line-height: 24px; }
.footer-meun a {
  color: #717171; }

/*# sourceMappingURL=common.css.map */
